* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Century, sans-serif;
}


.main {
    width: 100%;
    height: 100vh;
    background-image: url(rhons.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.logos {
    position: absolute;
    top: 20px; 
    left: 50px;
    width: 150px; 
    height: auto;
}


.navbar {
    position: absolute;
    top: 20px; 
    right: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: red;
    box-shadow: 0 0 10px white;
}


.Myinfo {
    color: black;
    text-align: left;
    max-width: 700px;
    padding: 100px;
    margin-top: 400px;
    margin-left: 100px; 
}

.Myinfo h1 {
    font-size: 3rem;
}

.Myinfo span {
    color: red;
}

.Myinfo h2 {
    font-size: 2rem;
    margin: 10px 0;
    
}

.Myinfo h2 span{
     color: blue;

}

.Myinfo h3 {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 24px;
}

.justify-text {
    
    text-align: justify;
    padding: 0 15px; 
}


.about img {
    width: 430px;
    height: auto;
}

.about-text {
    max-width: 550px;
    color: white;
    text-align: justify;
}

.about-text h2 {
    font-size: 3rem; 
    margin-bottom: 20px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1rem;
}

.navbar{
    position: fixed;   
    padding: 10px 0;
    z-index: 1000;
}

.about img {
    width: 430px;
    height: auto;
}

.about-story {
    max-width: 550px;
    color: wheat;
    text-align: justify;
    margin-left: 40px;
    margin-bottom: 50px;
}

.about-story h2 {
    font-size: 3rem; 
    margin-bottom: 40px;
}

.about-story p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 2rem;

}

.about, .story, .educ {
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about {
    background: linear-gradient(to bottom, grey, black);
}

.story {
    background: linear-gradient(to bottom, black, grey);
}

.educ{
    background: linear-gradient(to bottom, grey, black);
}

.story img{
    background: linear-gradient(to bottom, grey, black); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1000px black; border-radius: 8px;
}

.about img{
    background: linear-gradient(to bottom, grey, black); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1000px black; border-radius: 8px;
    width: 700px; height: auto;
}

.educ img{
    background: linear-gradient(to bottom, grey, black); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1000px black; border-radius: 8px;
    width: 500px; height: auto;
}


.maymay{
    text-align: center;
}

atik{
    color: goldenrod;
}



